
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*******************
/*Top bar
*******************/
.topbar {
  background: #ffffff; }
  .topbar .navbar-header {
    background: #ffffff; }
  .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: none;
    color: rgba(0, 0, 0, 0.7); }
  .topbar .navbar-light .navbar-nav .nav-item > a.nav-link {
    color: rgba(0, 0, 0, 0.7) !important; }
    .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:hover, .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:focus {
      color: black !important; }

/*******************
/*General Elements
*******************/
a.link:hover, a.link:focus {
  color: #52bde4 !important; }

.bg-theme {
  background-color: #9712b8 !important; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #c220e3;
  border-color: #20aee3; }
/*sidebar navigation
*******************/
.label-themecolor {
  background: #4b0081; }

.sidebar-nav > ul > li.active > a {
  color: #4b0081;
  border-color: #4b0081; }
  .sidebar-nav > ul > li.active > a i {
    color: #4b0081; }

.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
  color: #4b0081; }
  .sidebar-nav ul li a.active i, .sidebar-nav ul li a:hover i {
    color: #4b0081; }

.sidebar-nav > ul > li > a i {
  color: #4b0081; }
